<div class="container" >
  <div class="logout" style="margin-top: 5%;">
    <button style="background-color: transparent;color: white;" (click)="cerrarSesion()" class="fa-solid fa-right-from-bracket fa-lg">Salir</button>
  </div>
  <div class="regisros" style="margin-top: 5%;">
    <button routerLink="/puntos" style="background-color: transparent;color: white;" class="fa-solid fa-right-from-bracket fa-lg">Tabla</button>
  </div>
  <button routerLink="/dc" class="boton"><img style="height: 50vh;" src="assets/dc.png"></button>
  <button routerLink="/marvel" class="boton"><img style="height:50vh;" src="assets/marvel.png"></button>
</div>
