<div class="contenedor">
  <button (click)="iniciar('ironman')">
    <img src="assets/ironman.png" class="imagen">
  </button>
  <button (click)="iniciar('spiderman')">
    <img src="assets/spiderman.png"  class="imagen">
  </button>
  <button (click)="iniciar('capitan')">
    <img src="assets/capitan.png"  class="imagen">
  </button>
  <button (click)="iniciar('wakanda')">

    <img src="assets/wakanda.png" class="imagen">
  </button>
  <button (click)="iniciar('antman')">
    <img src="assets/antman.png"  class="imagen">
  </button>
  <div class="logout" style="margin-top: 5%;">
    <button routerLink="/home" style="font-size: 9px; background-color: transparent;color: white;"><i class="fa-solid fa-backward fa-lg"></i></button>
  </div>
</div>