<div class="contenedor">
  <button (click)="iniciar('batman')">
    <img src="assets/batman.png" class="imagen">
  </button>
  <button (click)="iniciar('wolverine')">
    <img src="assets/wolverine.png"  class="imagen">
  </button>
  <button (click)="iniciar('robin')">
    <img src="assets/robin.png"  class="imagen">
  </button>
  <button (click)="iniciar('flash')">

    <img src="assets/flash.png" class="imagen">
  </button>
  <button (click)="iniciar('superman')">
    <img src="assets/superman.png"  class="imagen">
  </button>
  <div class="logout" style="margin-top: 5%;">
    <button routerLink="/home" style="font-size: 9px; background-color: transparent;color: white;"><i class="fa-solid fa-backward fa-lg"></i></button>
  </div>
</div>